#location-posts {
  margin: 6em auto;

  .post {
    margin-bottom: 2em;

    .post-location {
      display: inline-block;
      background-color: $feature-color;
      border-radius: 3px;
      color: white;
      margin-right: .25em;
      font-weight: 300;
    }

    .post-description {
      display: inline-block;
      color: $feature-color;
      font-weight: 300;
    }

    .post-content {
      color: $dark-gray;
      font-weight: 300;
      white-space: pre-wrap;
    }


    .comment-container {
      margin: .5em 0;
      padding-left: 1em;

      .comment-list {
        border-left: 1px solid $feature-color;
        padding-left: 1em;

        .comment {
          font-weight: 300;
          color: $dark-gray;

          .comment-author {
            color: $feature-color;
          }
        }
      }

      form.new-comment {
        width: 100%;
        margin-top: .25em;
        display: none;

        input, button {
          background-color: white;
          border: 1px solid $feature-color;
          border-radius: 3px;  
          outline: none;
        }

        input[type="text"] {
          font-size: 1em;
          padding: .25em .5em;
          font-weight: 300;
          color: $dark-gray;
          width: 85%;
        }

        button[type="submit"] {
          position: relative;
          bottom: .2em;
          margin-left: 1%;
          width: 13%;
          color: $feature-color;
          height: 3em;

          &:hover {
            background-color: $feature-color;
            color: white;
            transition: .5s;
          }
        }
      }
    }

    .post-links {
      font-weight: 300;
      color: $feature-color;
      font-size: .85em;

      a {
        display: inline-block;
        padding: 0 .25em;
        text-decoration: none;
        color: $feature-color;
        &:hover {
          border-radius: 3px;
          background-color: $feature-color;
          color: white;
          transition: .3s;
        }
      }
    }
  }
}