@media (min-width: 776px) {
  #sidebar {
    width: 33%;
    height: 100%;
    position: fixed;

    #logo {
      margin: 2em auto 1em auto;
    }
  }

  #location-posts {
    width: 67%;
    margin-left: 33%;
  }

  .hide-on-big {
    display: none;
  }

  #listLocation {
    font-size: 200%;
  }

  #about-link {
    position: absolute;
    left: 0;
    bottom: 3em;
  }

  // select {
  //   // -webkit-appearance: none;
  //   // -moz-appearance: none;
  //   // text-indent: 5px;
  //   // text-overflow: '';
  //   // appearance: none;
  //   // background: transparent url(image_path('arrow_down_9.png')) no-repeat scroll 95% 13px;
  // }
}

@media (max-width: 775px) {
  #sidebar {
    width: 100%;
    min-height: 100vh;
    padding: 1em;

    #sidebar-non-logo {
      width: 100%;
    }

    #logo {
      max-width: 278px;
      margin: 0 auto;
    }
  }

  #location-posts {
    width: 100%;
    margin: 0 auto;
  }

  .hide-on-small {
    display: none;
  }

  button, input[type="submit"] {
    -webkit-appearance: none;
  }

  #about-link {
    margin: 9em auto 3em auto;
  }

}

@media (min-width: 1025px) {
  #sidebar-non-logo {
    width: 60%;
  }
}

@media (max-width: 1024px) and (min-width: 776px) {
  #sidebar-non-logo {
    width: 77%;
  }
}