@media (min-width: $breakpoint-min) {
  #location-body {
    width: 60%;
  }

  #location-header {
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
  }

  #new-post-form {
    width: 66%;
  }

  #location-arrow-up {
    right: 5%;
    bottom: 5%;
  }

  .post-location {
    font-weight: 100;
    padding: 0 1em;
  }

  #location-new-post {
    padding: 3em;
  }
}

@media (max-width: $breakpoint-max) {
  
  #location-body {
    width: 80%;
  }

  #new-post-form {
    width: 100%;
  }

  #location-arrow-up {
    right: 4%;
    bottom: 5%;
  }

  .post-location {
    font-weight: 300;
    padding: 0 .5em;

  }

  #location-new-post {
    padding: 1em;
  }
}