
.comment-section {
  margin-top: .5em;
  margin-left: 1.5em;
  border-left: .1em solid $feature-color;
  padding-left: .5em;

  .comment {
    font-size: 90%;
    line-height: 1.5;
    margin-bottom: .25em;
    color: $dark-gray;

    .comment-author {
      color: $feature-color;
    }
  }

  form.new-comment {
    display: none;

    input[type="text"], input[type="submit"] {
      outline: none;
      border-radius: 3px;
      padding: .5em;
      border: .1em solid $feature-color;
    }

    input[type="text"] {
      border: .1em solid $feature-color;
      width: 84%;
      margin-right: 1%;
      color: $dark-gray;
    }
    input[type="submit"] {
      background-color: white;
      color: $feature-color;
      width: 15%;
      &:hover {
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        background-color: $feature-color;
        color: white;
      }
    }
  }
}