#post-form {
  z-index: 1;
  background-color: $feature-color;

  select, textarea, input[type="text"] {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 3px;
  /* Firefox 1-3.6 */
  -moz-border-radius: 3px; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 3px; 
  }
}

label {
  font-size: 75%;
}

input[type="submit"] {
  margin-top: 1em;
  font-size: 75%;
}

textarea, input[type="text"], .post-form-select {
  margin-bottom: .5em;
}

input[type="submit"], input[type="text"], textarea {
  width: 100%;
  padding: 3px;
}

#new-post-button, input[type="submit"], input[type="text"], select {
  height: 3em;
}

textarea, input[type="text"], select {
  color: $dark-gray;
  border: none;
  outline: none;
}

textarea, input[type="text"] {
  padding: 5px 10px;
  font-size: 80%;
}

div.post-form-select {
  width: 48%;
  display: inline-block;

  select {
    text-align: center;
    width: 100%;
    border: 0;
  }
}

#post_hair, #post_hair_label {
  position: relative;
  left: 8%;
}

#new-post-button {
  font-size: 75%;
}

#new-post-button, input[type="submit"] {
  background-color: $feature-color;
  border: 1px solid $secondary-color;
  border-radius: 2px;
  color: #ffffff;
  outline: none;

  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background-color: #ffffff;
    color: $feature-color;
  }
}

textarea {
  resize: none;
}

#location-requirement, #content-requirement {
  display: none;
}

a#post-form-cancel {
  display:block;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 1em;
  font-size: 75%;
  &:hover {
    text-decoration: underline;
  }
}