$feature-color: #884044;
$dark-feature-color: darken($feature-color, 6%);
$dark-gray: #515151;
$light-gray: #A5A5A5;
$light-light-gray: #E4E4E4;

$breakpoint-min: 778px;
$breakpoint-max: 777px;

$sans-serif-stack: Lato, Helvetica, sans-serif;