// $dark-blue: #1E824C;
// // $dark-blue: #2c3e50;
// // $dark-blue: #323E4A;
// $background-gray: #E3E3E3;
// $dark-gray: #7C7D7F;
// $orange: #c0392b;
// // $orange: #E35D48;
// $dark-orange: #BF331D;


// // NEW

// $red: #E0393E;
// $light-gray: #f4f4f4;
// // $dark-blue: #49B571;
// $light-green: #49B571;


// UGH

// $dark-blue: #96281B;



// DEV PALETTE

@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700);


// BLUE w/ red
// $sidebar-accent: #96281B;
// $sidebar: #22313F;

// RED w/ white
$sidebar: #96281B;
$sidebar-accent: #FFFFFF;
$tint: #EED8D3;
$shade: #45120D;


$accent: #49B571;
$dark-gray: #7C7D7F;
$light-gray: #f4f4f4;

$serif-stack: Palatino, Garamond, serif;
$sans-serif-stack: Lato, Helvetica, arial, sans-serif;
$script-stack: 'Dancing Script', Lato;