@import 'color_palette';

#sidebar {
  background-color: $sidebar;

  position: fixed;
  // height: 100%;
  color: #ffffff;
  // width: 33%;

  #sidebar-container{
    // width: 50%;
    // margin: 0 auto;

    h1, h2, h3, label, input[type="submit"] {
      font-family: $sans-serif-stack;
      font-weight: 100;
    }

    h1 {
      font-family: $script-stack;
      font-size: 250%;
      text-align: center;
      margin-top: 1em;
    }

    h2 {
      color: $sidebar-accent;
      font-size: 100%;
      font-weight: 300;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1.5em;
    }
  }
}