@import 'color_palette';

#sidebar {
  background-color: $sidebar;

  position: fixed;
  height: 100%;
  color: #ffffff;
  width: 33%;

  #sidebar-container{
    width: 50%;
    margin: 0 auto;

    h1, h2, h3, label, input[type="submit"] {
      font-family: $sans-serif-stack;
      font-weight: 100;
    }

    h1 {
      font-family: $script-stack;
      font-size: 250%;
      text-align: center;
      margin-top: 1em;
    }

    h2 {
      color: $sidebar-accent;
      font-size: 100%;
      font-weight: 300;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1.5em;
    }

    label {
      font-size: 75%;
    }

    input[type="submit"] {
      margin-top: 1em;
      font-size: 75%;
      font-weight: 100;
    }

    textarea, input[type="text"], .post-form-select {
      margin-bottom: .5em;
    }

    input[type="submit"], input[type="text"], textarea {
      width: 98%;
      padding: 3px;
      border-radius: 2px;
    }

    input[type="submit"], input[type="text"], select {
      height: 3em;
    }

    textarea, input[type="text"], select {
      color: $dark-gray;
      border: none;
      outline: none;
    }

    textarea, input[type="text"] {
      padding: 5px 10px;
    }

    div.post-form-select {
      // width: 100%;   // Full-width selects
      width: 48%; // Side-by-side selects
      margin-right: 2%;
      display: inline-block;

      .post-form-select-background {
        background-color: #ffffff;
        border-radius: 2px;
      }

      select {
        text-align: center;
        width: 100%;
        border: 0;
        line-height: 2;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 5px;
        text-overflow: '';
        appearance: none;
        background: transparent url(image_path('arrow_down_9.png')) no-repeat scroll 97% 13px;
      }
    }

    input[type="submit"] {
      background-color: $sidebar;
      border: 1px solid $sidebar-accent;
      border-radius: 2px;
      color: #ffffff;
      font-weight: 300;
      outline: none;

      &:hover {
        // define webkits
        transition: .3s;
        background-color: #ffffff;
        color: $sidebar;
      }

    }

    textarea {
      resize: none;
    }
    
    #location-requirement, #content-requirement {
      display: none;
      // font-weight: 700;
    }
  }


}