#admin-tables {
  margin: 50px auto;
  width: 95%;

  .admin-table {
    margin-bottom: 50px;

    td, th {
      text-align: left;
      padding: 2px;
    }

    .admin-time {
      width: 10%;
    }

    .admin-location {
      width: 10%;
    }

    .admin-gender, .admin-hair, .admin-flags, .admin-show, .admin-ok, .admin-hide {
      width: 5%;
    }

    .admin-content {
      width: 50%;
    }

    .admin-comment-blank {
      background-color: #eeeeee;
    }
  }

}