@import 'color_palette';

#location-posts {
  padding-top: 1em;
  width: 67%;
  margin-left: 33%;
}

.post {
  white-space: pre-wrap;
  word-wrap: break-word;

  position: relative;
  background-color: #ffffff;
  width: 90%;
  margin: 1em auto;
  padding: .5em .5em .5em .5em;
  border-radius: 2px;

  .location, .post-description {
    display: inline;
    font-family: $sans-serif-stack;
    font-size: 85%;
    font-weight: 700;
  }

  .location {
    color: $sidebar-accent;
    background-color: $sidebar;
    font-weight: 300;
    padding: 2px 4px;
    margin-right: 3px;
    margin-bottom: 3px;
    line-height: 1.5;
  }

  .post-description {
    color: $dark-gray;
  }

  .content {
    // font-family: $serif-stack;
    font-family: $sans-serif-stack;
    color: $dark-gray;
    line-height: 1.5;
    margin: .25em auto .25em;
  }
  
  .post-links {
    margin-top: .5em;
    color: $sidebar;
    font-family: $sans-serif-stack;
    font-size: 75%;
    a {
      color: $sidebar;
      text-decoration: none;
      &:hover {
        background-color: $sidebar;
        color: #FFFFFF;
        transition: .2s;
      }
    }
  }
}