@import 'color_palette';

.post {
  background-color: #ffffff;
  width: 90%;
  margin: 1em auto;
  padding: .5em;
  border-radius: 2px;
  box-shadow: 0px 0px 2px $dark-gray;
  // box-shadow: 1px 1px 1px $dark-gray;

  .location, .hair, .gender {
    display: inline;
    font-family: Helvetica, Trebuchet, sans-serif;
    font-size: 85%;
    font-weight: 700;
    font-style: italic;
  }

  .location {
    color: $orange;
  }

  .hair, .gender {
    color: $dark-gray;
  }

  .content {
    color: $dark-gray;
  }
}