@import 'color_palette';

.post {
  position: relative;
  background-color: #ffffff;
  width: 90%;
  margin: 1em auto;
  padding: .5em 2em .5em .5em;
  border-radius: 2px;
  box-shadow: 0px 0px 2px $dark-gray;
  // box-shadow: 1px 1px 1px $dark-gray;

  .location, .hair, .gender, .post-flag {
    display: inline;
    font-family: $sans-serif-stack;
    font-size: 85%;
    font-weight: 700;
    // font-style: italic;
  }

  .location {
    color: $accent;
  }

  .hair, .gender {
    color: $dark-gray;
  }

  .content {
    color: $dark-gray;
  }

  .post-flag {
    display: block;
    // position: relative;
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: $dark-gray;
    &:hover {
      color: $dark-gray;
    }
  }
}