<div id="demo-flash-container" class="closable-container">
  <a href="#" id="demo-flash-close" class="close-icon"><%= icon('times-circle', '', {class: "fa-lg", id: 'demo-close-icon'}) %></a>

  <div id="demo-flash">
    This demo page features randomly-generated posts.</br></br>
    Feel free to try it out by posting/commenting. It refreshes itself each week.</br></br>

    There is a live location that is (sometimes) posted to by users at <a href="http://www.posy.us/hendrix">posy.us/hendrix</a>.
  </div>
</div>