<table>
  <tr>
    <th>Timestamp</th>
    <th>Location</th>
    <th>Hair</th>
    <th>Gender</th>
    <!-- <th>Type</th> -->
    <th>Content</th>
    <th>Flags</th>
    <th>Cleared?</th>
    <th>Clear</th>
    <th>Delete</th>
  </tr>

  <% @posts.each do |post| %>
    <%= render partial: "admin_row_post", locals: {location: @location, post: post} %>
  <% end %>

</table>