<%= link_to "Back to locations", admin_path %>
<%= link_to "Logout", logout_path %>

<table class="admin-table">
  <tr>
    <th>Timestamp</th>
    <th>Location</th>
    <th>Hair</th>
    <th>Gender</th>
    <!-- <th>Type</th> -->
    <th>Content</th>
    <th>Flags</th>
    <th>Display?</th>
    <th>Clear</th>
    <th>Remove</th>
  </tr>

  <% @posts.each do |post| %>
    <%= render partial: "admin_row_post", locals: {location: @location, post: post} %>
  <% end %>

</table>