<div id="location_posts"></div>

<%= javascript_tag do %>
  window.postsPath = '<%= location_posts_path(@location.slug) %>';
  window.locationName = '<%= @location.name %>';
  reactLocationReady();
<% end %>